@import url(https://fonts.googleapis.com/css?family=Sora);
@import url(https://fonts.googleapis.com/css?family=JetBrains%20Mono);
html{
    height: 100%;
    width: 100%;
    font-family: 'Sora';
    font-weight: 600;
}

h1,h4 {
    color:#FDE311;
}
.header::before{
    content: "# ";
}
h4::before,h1::before{
    content: "## ";
}
body{
    margin: 20px;
    background-color: 	#0f111a;
}
footer{
    color: white;
}
h1:hover {
    color:white;
}
hr {
    margin: 15px 0;
    overflow-x: hidden;
    border: 0;
    height: 20px;
  }
  
hr::after {
    content: "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    color: #4f4f4f;
}
ul{
    color: white;
    font-family: 'JetBrains Mono';
}
li{
    overflow-wrap: break-word;
    list-style: "-";
    position: relative;
    padding-left: 20px;
}
.copyright{font-family:'JetBrains Mono';font-size:small;color:wheat;}
div.nav{
    margin-top: 40px;
    margin-left: 40%;
    margin-bottom: 40px;
}
a.nava{
    font-family: 'JetBrains Mono';
    font-weight: 600;
    text-decoration: underline;
    margin-right: 20px;
    color: rgba(252, 248, 0, 0.729);
}
a.projects{
    margin-right: 20px;
    color: #0490f3;
}
a:hover{
    color: white;
}
