<html>
   <head>
      <link rel="stylesheet" type="text/css" href="static/styles.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <div class="nav">
      <header>
         <a class="nava" href="#">Home</a>
         <a class="nava" href="#">Blog</a>
         <a class="nava" href="#">Resume</a>
      </header>
   </div>
   <h1 class="header">{{name}}</h1>
   <hr/>
   <body>
      <div>
         <h1>Skills</h1>
         <p>
         <ul >
            <li>Languages: C,C++,Java,Python,Rust,Kotlin,JavaScript,PHP,Bash</li>
            <li>Frameworks: Flask Python,Rust Rocket,Android Native</li>
            <li>Database: MySQL,PostgreSQL,MongoDB,Redis</li>
            <li>Tools: Google Cloud,AWS,Heroku,Docker</li>
         </ul>
         </p>
         <hr/>
         <h1>Projects</h1>
         <p>
         <ul>
            <li>
               <a class="projects" href="https://github.com/dracarys18/NotKernel" target=_blank>NotKernel:</a>This is an optimized kernel for my personal device.
            </li>
            <li>
               <h4>Telegram Bots</h4>
               <ul>
                   <li>
                       <a class="projects" href="https://github.com/dracarys18/TweetBot" target=_blank>TweetBot:</a>A bot to forward tweets from the users mentioned to a telegram channel using Twitter API 1.1.
                   </li>
                   <li>
                       <a class="projects" href="https://github.com/dracarys18/grpmr-rs" target=_blank>Group Manager:</a>A Telegram group manager bot with extensive features. Based of Telegram Bot API and MongoDB for Database.
                   </li>
                   <li>
                       <a class="projects" href="https://github.com/dracarys18/git_release_tracker" target=_blank>Release Tracker:</a>A bot to track new github releases.Based on GitHub API V2.
                   </li>
                   <li>
                       <a class="projects" href="https://github.com/dracarys18/Kernel_Tracker" target=_blank>Kernel Tracker:</a>A bot to track Linux Kernel Releases. Based of BeautifulSoup4 for scraping.
                   </li>
                   <li>
                      <a class="projects" href="https://github.com/dracarys18/ShellBot" target=_blank>ShellBot:</a>A bot written with C++ telegram library to execute linux shell commands remotes from telegram.
                   </li>
                   <br/>
               </ul>
            </li>
            <li>
               <a class="projects" href="https://github.com/dracarys18/QuizProject" target=_blank>QuizApp:</a>Database Based QuizApp Written with HTML,CSS on fronted and PHP on Backend.
            </li>
            <li>
               <a class="projects" href="https://github.com/dracarys18/Portfolio" target=_blank>This Website:</a>My portfolio website written with HTML,CSS and Rust.
            </li>
         </ul>
         </p>
         </div>
         <hr/>
         <h1>Contacts</h1>
         <p>
            <ul>
               <li>
                  <a class="projects" href="https://www.linkedin.com/in/karthihegde010" target=_blank>Linkedin</a>
               </li>
               <li>
                  <a class="projects" href="mailto:karuhegde4343@gmail.com">Gmail</a>
               </li>
               <li>
                  <a class="projects" href="https://github.com/dracarys18" target=_blank>GitHub</a>
               </li>
               <li>
                  <a class="projects" href="https://twitter.com/karthihegde" target=_blank>Twitter</a>
               </li>
            </ul>
         </p>
      </div>
   </body>
   <hr/>
   <footer class="copyright">
      <p>
         <small>
         Copyright {{year}} Karthikey Hegde
         </small>
      </p>
      <p>
         <small>
         Rust Version {{version}}
         </small>
      </p>
   </footer>
</html>

